@import url("/blog/css/font.css");
.d-1 {
    background-color: rgb(60, 179, 113);
    color: rgb(0, 0, 0);
    padding: 2%;
    font-family: 'gry';
    width: 15%;
    height: 15%;
}
.h1-1 {
    font-size: 3em;
}
.d-2 {
    background-color: rgb(168, 168, 168);
    color: rgb(0, 0, 0);
}
.d-3 {
    background-color: rgb(223, 223, 223);
    font-family: 'gry';
}
.spacer {
    padding: 15px;
}